h1 {
color: cornsilk;
    margin: 20px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    text-align: center;
}
body{
    background-color: black;
}
#foo
{
    text-align: left;
    color: cornsilk;
    text-shadow: cornsilk;
    font-size: medium;
}